@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hanken Grotesk', sans-serif;
}



/* ######################### utility classes ############################# */

.out-off{
    font-size: 1.5rem;
    font-weight: 500;
}

.tag-name{
    font-size: 1.5rem;
    align-self: center;
}

.tag{
    height: 4rem;
    border-radius: 0.5rem;
    margin: 2rem 0;
}

.icon{
    margin-right: 2rem;
}

/* ########################## main-container styling ############################## */

.container{
    display: flex;
    border-radius: 2rem;
    min-height: 45rem;
    max-width: 60rem;
    box-shadow: 5px 5px 20px 10px hsl(221, 100%, 96%);
}



/* ############################# left-container styling ############################## */

.container .left-content{
    padding: 2rem;
    background: linear-gradient( hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 2rem;
    width: 50%;
}

.container .left-content .your-result{
    color: hsl(241, 100%, 89%);
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin: 1.5rem 0;
}

.container .left-content .marks{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .left-content .circle-container{
    margin-top: 1.5rem;
    height: 160px;
    width: 160px;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    text-align: center;
    padding-bottom: 5rem;

}

.container .left-content .marks .inside-circle-container{
    position: absolute;
}

.container .left-content .marks .inside-circle-container .total-marks-obtained{
    font-size: 6rem;
    color: hsl(221, 100%, 96%);
    font-weight: 800;
    text-align: center;
}

.container .left-content .marks .inside-circle-container .total-marks{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: hsl(241, 100%, 89%);
}

.left-content .great{
    font-size: 3rem;
    font-weight: 500;
    margin-top: 2rem;
    text-align: center;
    color: hsl(221, 100%, 96%);
}

.left-content p{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
    color: hsl(241, 100%, 89%);
}



/* ############################## styling right-container ################################ */

.container .right-content{
    padding: 2rem;
    border-radius: 2rem;
    width: 50%;
}

.container .right-content .summary{
    font-size: 2rem;
    font-weight: 700;
    color: hsl(224, 30%, 27%);
    margin: 1.5rem 0;
}

.right-content .reaction-tag{
    display: flex;
    width: 25rem;
    justify-content: space-around;
    background-color: hsla(0, 100%, 67%, 0.17);
}

.right-content .reaction-tag .tag-name-1{
    display: flex;
    flex-direction: row;
    color: hsl(0, 100%, 67%);
}

.right-content .memory-tag{
    display: flex;
    width: 25rem;
    justify-content: space-around;
    background-color: hsla(39, 100%, 56%, 0.17);
}

.right-content .memory-tag .tag-name-2{
    display: flex;
    flex-direction: row;
    color: hsl(39, 100%, 56%);
}

.right-content .verbal-tag{
    display: flex;
    width: 25rem;
    justify-content: space-around;
    background-color: hsla(166, 100%, 37%, 0.17);
}

.right-content .verbal-tag .tag-name-3{
    display: flex;
    flex-direction: row;
    color: hsl(166, 100%, 37%);
}

.right-content .visual-tag{
    display: flex;
    width: 25rem;
    justify-content: space-around;
    background-color: hsla(234, 85%, 45%, 0.17);
}

.right-content .visual-tag .tag-name-4{
    display: flex;
    flex-direction: row;
    color: hsl(234, 85%, 45%);
}

.container .right-content .tag .out-off{
    align-self: center;
}

.container .right-content .btn{
    display: flex;
    background-color: hsl(224, 30%, 27%);
    font-size: 1.5rem;
    color: hsl(221, 100%, 96%);
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 85%;
    margin: 4rem auto;
    border-radius: 2rem;
}